.grid-container {
    display: grid;
    grid-template-columns: 200px auto auto;
    gap: 10px;
}
.grid.item {
    background-color:rgb(37, 220, 20);
    padding: 20px;
}
.grid-item:hover {
    background-color: aqua;
}